@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@theme {
  --font-urbanist: "Urbanist", serif;
}

#tsparticles {
  height: 100vh;
  width: 100vw;
}
