@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
  @apply h-full;
}
body {
  @apply h-full;
  background-image: linear-gradient(#FFF1F2, #FDA4AF);
}
div#__next {
  @apply h-full;
}
main {
  @apply h-full;
}

@theme {
  --font-urbanist: "Urbanist", serif;

}

#tsparticles {
  height: 100vh;
  width: 100vw;
}
